@tailwind base;
@tailwind components;
@tailwind utilities;

.CContainer {
  @apply px-4 md:px-12 lg:px-24
}

:root {
  --primary: #f82ba9;
  --secondary: #160e4b;
  --background: #F8F8F8;
  --foreground: #160e4b;
  --primaryGray : #FDCFEB21;
  --secondaryGray : #737791
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #160e4b;
    /* --background: #160e4b;
    --foreground: #ededed; */
  }
}
@media (prefers-color-scheme: white) {
  :root {
    --background: #ededed;
    --foreground: #160e4b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
